.elementor-kit-6{--e-global-color-primary:#00B5B5;--e-global-color-secondary:#393939;--e-global-color-text:#212121;--e-global-color-accent:#390605;--e-global-color-d76d304:#048383;--e-global-color-6f511b7:#550705;--e-global-color-6ed1173:#F3F3F3;--e-global-typography-primary-font-family:"Roboto";--e-global-typography-primary-font-weight:600;--e-global-typography-secondary-font-family:"Roboto Slab";--e-global-typography-secondary-font-weight:400;--e-global-typography-text-font-family:"Roboto";--e-global-typography-text-font-weight:400;--e-global-typography-accent-font-family:"Roboto";--e-global-typography-accent-font-weight:500;}.elementor-section.elementor-section-boxed > .elementor-container{max-width:1140px;}.elementor-widget:not(:last-child){margin-bottom:20px;}{}h1.entry-title{display:var(--page-title-display);}@media(max-width:1024px){.elementor-section.elementor-section-boxed > .elementor-container{max-width:1024px;}}@media(max-width:767px){.elementor-section.elementor-section-boxed > .elementor-container{max-width:767px;}}/* Start custom CSS */html, body{
    overflow-x: hidden;
}

.eicon-zoom-in-bold{
    display: none;
}

::-moz-selection { background: #00b5b53d; }
::selection { background: #00b5b53d; }



.selectedWO{
    background-color: #00b5b5!important;
    color: #fff!important;
    border-left: 5px solid #058484;
}

.btnWhatson a:hover{
    cursor: pointer;
}/* End custom CSS */