<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>
	Comments for Pioneer Station	</title>
	<atom:link href="https://pioneerstation.com.au/comments/feed/" rel="self" type="application/rss+xml" />
	<link>https://pioneerstation.com.au</link>
	<description>Motor Inn</description>
	<lastBuildDate>Thu, 02 Sep 2021 04:31:50 +0000</lastBuildDate>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=5.5.13</generator>
</channel>
</rss>
